h1{
	font-size: 30px;
	line-height: 1.2;
	margin-left: 20px;
}

h3{
	margin-left: 25px;
	font-size:16px;
	padding-bottom: 5px;
	border-bottom: 1px solid lightgrey;
}

li{
	margin-left: 35px;
}
.subpoint{
	margin-left: 35px;
	font-weight: bold;
}

.italic{
	font-style: italic;
}

.time{
	float:right;
}

.skill{
	margin-left: 35px;
}

.privacy{
	margin-left: 25px;
}
.underline{
	border-bottom: 1px solid #000;
	padding-bottom: 1px;
}